/* general CSS, unrelated to parallax or img */
body {
  background-image: url("http://aeoneal.com/imagery/blog/oregon-grapes.jpg");
  color: #222;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Parallax CSS */
.body background-oregon-grapes {
  background-image: url("http://aeoneal.com/imagery/blog/oregon-grapes.jpg");
  background-size: 100%;
  width:100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  .background-oregon-grapes {
    height: 330px;
    width: 330px;
  }
}


/* Image CSS for your SVG */
img {
  height: 100%;
  width: 100%;
}
